!01-empresa/organigrama_validado.pdf

!02-problema/calendario_operacional_validado.pdf

!02-problema/cadena_causal_validada.pdf

!02-problema/flujo_operacional_validado.pdf

!02-problema/actores_validado.pdf
